{
  "$schema": "https://json.schemastore.org/swcrc",
  "minify": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2017",
    "externalHelpers": false,
    "keepClassNames": true,
    "loose": false,
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": false
    },
    "baseUrl": "src",
    "paths": {
      "@config": ["config"],
      "@controller/*": ["controller/*"],
      "@core/*": ["core/*"],
      "@dto/*": ["dto/*"],
      "@entity/*": ["entity/*"],
      "@enums/*": ["enums/*"],
      "@exception/*": ["exception/*"],
      "@interface/*": ["interface/*"],
      "@middleware/*": ["middleware/*"],
      "@repository/*": ["repository/*"],
      "@service/*": ["service/*"],
      "@util/*": ["util/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "exclude": [
    "src/__test__/**"
  ]
}
